/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

html {
  font-size: 62%;
  box-sizing: border-box;
}

body , #root{
  height: 100vh;
  margin: 0;
  font-family: 'Roboto', Courier, monospace;
  font-size: 2rem;
}

.main-container {
  display: grid;
  grid-template-areas: "header"
  "main"
  "footer";
  grid-template-rows: 6rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header {
  display: flex;
  grid-area: header;
  background-color: #1a9ef0;
  color: white;
}


main {
  grid-area: main;
  background-color: white;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: footer;
  background-color: black;
  color: white
}

a:hover {
color:yellow;
}

/* Product List */

.content{
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.products{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.product {
  flex: 1 1 30rem;
  height: 50rem;
  padding: 1rem;
  margin: 1rem;
}

.footer-product {
  display: flex;
  justify-content: space-between;
}